{
    "node_info":{
        "node_ip":"127.0.0.1"
    },
    "plugins": [        
        "jwt_auth",
        "dynamic_upstream",
        "rewrite",
        "property_rate_limiting",
        "stat",
        "divide",
        "consul_balancer",
        "persist",
        "monitor"
    ],
    "store": "mysql",
    "store_mysql": {
        "timeout": 5000,
        "connect_config": {
            "host": "172.18.212.43",
            "port": 3306,
            "database": "an1_apigateway",
            "user": "root",
            "password": "An1#24",
            "charset": "utf8mb4",
            "max_packet_size": 1048576
        },
        "pool_config": {
            "max_idle_timeout": 10000,
            "pool_size": 3
        },
        "desc": "mysql configuration"
    },
    "store_redis":{
        "timeout": 5000,
        "connect_config": {
            "host": "192.168.10.79",
            "port": 6379,
            "database": "1",
            "user": "root",
            "password": "An1#24"
        }
    },
    "consul":{
        "host" : "172.18.212.43",
        "port" : 8500,
        "interval" : 10,
        "token" : ""
    }
}
